.PageHeader_page_header__3MLJs {
    padding: 3.125rem 0 7.625rem 6.25rem
}

.PageHeader_page_header__3MLJs .PageHeader_logo__11IfQ {
    overflow: hidden;
    width: 94px;
    height: 28px
}

.PageHeader_page_header__3MLJs .PageHeader_logo__11IfQ .PageHeader_link__GOT5y {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/assets/logo.svg)
}

.PageHeader_container__18-V0 {
    max-width: calc(15px * 2 + 720px);
    padding: 7.625rem 15px 100px
}

@media (max-width: 800px) {
    .PageHeader_page_header__3MLJs {
        padding: 16px 0 60px 20px
    }
}

#PageHeader___next__2Bk71 {
    height: 100%;
    background: pink
}

#PageHeader___next__2Bk71 .PageHeader_requests__2PE-T {
    height: 100%;
    background: #dcdcdc;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
}

#PageHeader___next__2Bk71 .PageHeader_page_footer__2stBC, #PageHeader___next__2Bk71 .PageHeader_page_header__3MLJs {
    flex: 0 1
}

#PageHeader___next__2Bk71 .PageHeader_page_main__15Thn {
    flex: 1 0 auto
}

.Footer_page_footer__1Q7eM {
    overflow: hidden;
    padding: 45px 15px;
    background: #eeefff
}

.Footer_page_footer__1Q7eM .Footer_info__AGe6h {
    padding: 15px;
    font-size: 12px;
    line-height: 1
}

.Footer_page_footer__1Q7eM .Footer_info__AGe6h .Footer_key__25o-a {
    margin-right: 6px;
    font-weight: 700
}

.Footer_page_footer__1Q7eM .Footer_info__AGe6h .Footer_value__3nEk3 {
    font-weight: 400
}

.Footer_page_footer__1Q7eM .Footer_info__AGe6h a {
    color: #262626;
    text-decoration: none
}

@media (max-width: 800px) {
    .Footer_page_footer__1Q7eM .Footer_inner_footer___wrVG {
        display: block !important;
        max-width: 500px;
        margin: 0 auto
    }
}

.Layout_wrap_layout__3LbPb {
    height: 100%
}

.Layout_wrap_layout__3LbPb:before {
    flex-shrink: 0;
    content: "";
    display: block;
    width: 0;
    height: 100%
}

.Layout_wrap_layout__3LbPb > .Layout_inner__rLONC {
    flex: 1 1;
    min-height: 100%
}

.Layout_wrap_layout__3LbPb > .Layout_inner__rLONC > header {
    flex-shrink: 0
}

.Layout_wrap_layout__3LbPb > .Layout_inner__rLONC > main {
    flex: 1 0 auto;
    width: 100%
}

.Layout_wrap_layout__3LbPb > .Layout_inner__rLONC > footer {
    flex-shrink: 0
}

.ProgressIntro_progress__3UFiO {
    margin: 20px 0 0 -9px
}

.ProgressIntro_progress__3UFiO .ProgressIntro_item__eSeBx {
    flex: 1 1 33%;
    float: left;
    margin-top: 10px
}

.ProgressIntro_progress__3UFiO .ProgressIntro_inner__2D3tC {
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 78px;
    margin-left: 9px;
    padding: 15px 18px 15px 29px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1.33;
    background-color: #eeefff
}

.ProgressIntro_progress__3UFiO .ProgressIntro_inner__2D3tC:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-color: #595de4 transparent transparent #595de4;
    border-style: solid;
    border-width: 24px
}

.ProgressIntro_progress__3UFiO .ProgressIntro_inner__2D3tC:after {
    content: attr(data-num);
    position: absolute;
    top: 5px;
    left: 9px;
    font-size: 18px;
    font-weight: 700;
    color: #fff
}

.ProgressIntro_progress__3UFiO .ProgressIntro_title__1aSfk {
    max-width: 100%;
    padding-left: 50px;
    letter-spacing: -.5px
}

.ProgressIntro_progress__3UFiO .ProgressIntro_title__1aSfk:before {
    flex: none;
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px 0 -50px;
    background-repeat: no-repeat;
    background-position: 0 0
}

.ProgressIntro_progress__3UFiO .ProgressIntro_point__10ofR {
    display: block;
    margin-top: 10px;
    padding: 7px 23px;
    border-radius: 15px;
    font-size: 14px;
    color: #d0021b;
    background-color: #fff
}

@media only screen and (max-width: 750px) {
    .ProgressIntro_progress__3UFiO .ProgressIntro_item__eSeBx {
        flex-basis: 50%
    }
}

@media only screen and (max-width: 510px) {
    .ProgressIntro_progress__3UFiO .ProgressIntro_item__eSeBx {
        flex: 0 0 auto;
        width: 243px;
        margin-left: auto;
        margin-right: auto
    }
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_1__10vOf .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step1.png)
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_2__1unLU .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step2.png)
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_3__1lehx .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step3.png)
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_4__HtOk4 .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step4.png)
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_5__1td4Z .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step5.png)
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_6__28mx7 .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step6.png)
}

.ProgressIntro_progress__3UFiO .ProgressIntro_step_5_caption__2oo8j .ProgressIntro_title__1aSfk:before {
    background-image: url(/images/requests/icon_step5_caption.png)
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (min-resolution: 192dpi) {
    .ProgressIntro_progress__3UFiO .ProgressIntro_item__eSeBx .ProgressIntro_title__1aSfk:before {
        background-size: 100%
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_1__10vOf .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step1@2x.png)
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_2__1unLU .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step2@2x.png)
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_3__1lehx .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step3@2x.png)
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_4__HtOk4 .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step4@2x.png)
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_5__1td4Z .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step5@2x.png)
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_6__28mx7 .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step6@2x.png)
    }

    .ProgressIntro_progress__3UFiO .ProgressIntro_step_5_caption__2oo8j .ProgressIntro_title__1aSfk:before {
        background-image: url(/images/requests/icon_step5_caption@2x.png)
    }
}

.ProgressIntro_wrap_step_buttons__3Kn1L {
    margin-top: 60px
}

@media only screen and (max-width: 510px) {
    .ProgressIntro_wrap_step_buttons__3Kn1L {
        justify-content: center !important
    }
}

.ProgressStepNavigation_progress_navigation__S1pL- {
    margin: 20px 0 50px -5px
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_item__YfFhu {
    flex: 1 1 20%;
    margin-top: 5px
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_ {
    overflow: hidden;
    position: relative;
    width: calc(100% - 5px);
    height: 60px;
    margin-left: 5px;
    padding: 0 10px;
    border-width: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.13;
    color: #262626;
    background-color: #eeefff
}
.step {
    overflow: hidden;
    position: relative;
    width: calc(100% - 5px);
    height: 60px;
    margin-left: 5px;
    padding: 0 10px;
    border-width: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.13;
    color: #262626;
    background-color: #eeefff
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_:disabled {
    opacity: 1;
    color: #c6c6c6;
    background-color: #f3f4f5
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_:disabled .ProgressStepNavigation_text__1auLk:before {
    color: #c6c6c6
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_.ProgressStepNavigation_current_step__1Io0M {
    opacity: 1;
    font-weight: 700;
    color: #fff;
    background-color: #595de4
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_.ProgressStepNavigation_current_step__1Io0M .ProgressStepNavigation_text__1auLk:before {
    color: #595de4
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_ .ProgressStepNavigation_text__1auLk {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    text-align: left
}

.ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_ .ProgressStepNavigation_text__1auLk:before {
    content: attr(data-step-num);
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    font-weight: 700;
    font-family: AppleSDGothicNeo, Malgun Gothic, arial, sans-serif;
    border-radius: 50%;
    line-height: 28px;
    color: #595de4;
    background-color: #fff;
    text-align: center;
    transform: translateY(-50%)
}

.ProgressStepNavigation_isMobile__2Rjk0 .ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_ .ProgressStepNavigation_text__1auLk:before {
    line-height: 24px
}

@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
    .ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_ .ProgressStepNavigation_text__1auLk {
        padding-top: 4px
    }

    .ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_btn__3Lpz_ .ProgressStepNavigation_text__1auLk:before {
        line-height: 30px
    }
}

@media only screen and (max-width: 580px) {
    .ProgressStepNavigation_progress_navigation__S1pL- .ProgressStepNavigation_item__YfFhu {
        flex-basis: 33%
    }
}

.Requests_top_button__2LR49 {
    height: 40px;
    padding: 6px 20px;
    border-radius: 20px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff
}

.Requests_top_button__2LR49:hover {
    color: #fff
}

.Requests_top_button__2LR49.Requests_icon__3AeD_:before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 3px;
    vertical-align: top
}

.Requests_button_add__1SUBj {
    background-color: #595de4
}

.Requests_button_add__1SUBj:hover {
    background-color: #4549c0
}

.Requests_button_delete__258Ij {
    background-color: #f47458
}

.Requests_button_delete__258Ij:hover {
    background-color: #bb5641
}

.Requests_button_delete__258Ij:disabled {
    background-color: #f1bfb5
}

.Requests_button_delete__258Ij.Requests_only_icon__FTP0M {
    width: 36px;
    height: 24px;
    padding: 0 12px;
    border-radius: 4px
}

.Requests_button_delete__258Ij.Requests_only_icon__FTP0M .Requests_icon__3AeD_ {
    display: inline-block;
    overflow: hidden;
    width: 12px;
    height: 2px;
    background-color: #fff;
    vertical-align: middle;
    transform: translateY(-50%)
}

.Requests_isMobile__2O0IF .Requests_button_delete__258Ij.Requests_only_icon__FTP0M .Requests_icon__3AeD_ {
    transform: translateY(-100%)
}

.Requests_row__2rEnT {
    margin-top: 20px
}

.Requests_wrap_step_buttons__1zlw8 {
    margin-top: 60px
}

.Requests_wrap_questions__3j8y2 .Requests_header__3WTYa {
    overflow: hidden
}

.Requests_wrap_questions__3j8y2 .Requests_header__3WTYa .Requests_title__ZSTtC {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 400
}

.Requests_wrap_questions__3j8y2 + .Requests_wrap_questions__3j8y2 {
    margin-top: 60px
}

.Requests_notice__32X8B {
    margin: 6px 0 20px 15px
}

.Requests_notice__32X8B .Requests_item__23rpv {
    padding-left: 15px;
    font-size: 14px;
    line-height: 1.43;
    color: #0055fe
}

.Requests_notice__32X8B .Requests_item__23rpv:before {
    content: "•";
    display: inline-block;
    margin-left: -15px
}

@media (max-width: 576px) {
    .Requests_notice__32X8B {
        margin-left: 5px
    }
}

.Requests_funnels__30G0M {
    margin-top: -11px
}

.Requests_funnels__30G0M > li {
    flex: 0 0 25%;
    min-height: 38px
}

.Requests_funnels__30G0M > li.Requests_etc_wrap__2bEHg {
    flex-grow: 1
}

@media only screen and (max-width: 570px) {
    .Requests_funnels__30G0M > li {
        flex-basis: 33%
    }
}

@media only screen and (max-width: 380px) {
    .Requests_funnels__30G0M > li {
        flex-basis: 50%
    }
}

.Requests_box_upload_guide__37H3k {
    margin: 10px 0;
    padding: 15px 0 19px;
    border-radius: 4px;
    font-size: 18px;
    background: #fff2f4;
    text-align: center
}

.Requests_box_upload_guide__37H3k .Requests_text__1qSYe {
    margin-bottom: 10px;
    line-height: 1.33
}

.Requests_box_upload_guide__37H3k .Requests_text_point__38aAg {
    color: #d0021b
}

.Requests_box_upload_guide__37H3k .Requests_btn_guide__vO4-s {
    margin: 0;
    color: #fff;
    background-color: #3c3e40
}

/*# sourceMappingURL=fd85fcc1d24b74f4.css.map*/


.bTGxOW {
    max-width: calc(750px);
    margin: 0px auto;
    padding: 0px 15px 6.25rem;
    background-color: rgb(255, 255, 255);
}

.iwssUt {
    margin-left: 3px;
    font-size: 12px;
    color: rgb(208, 2, 27);
    font-style: normal;
}

.gRSvyr {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 30px;
}

/*** 공통 ***/
/*html {
  font-size: 16px;
}

!* (720px + 30px) 미만에서 작동해야함 *!
@media only screen and (max-width: calc(720px + 30px)) {
  html {
    font-size: 10px
  }
}*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    font-family: 'AppleSDGothicNeo', 'Malgun Gothic', arial, sans-serif;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-break: keep-all;
    word-wrap: break-word;
}

a, blockquote, button, caption, dd, div, dl, dt, fieldset, form, frame, h1, h2, h3, h4, h5, h6, hr, iframe, input, legend, li, object, ol, p, pre, q, select, span, table, td, textarea, th, tr, ul, label {
    margin: 0;
    padding: 0;
}

li {
    list-style: none
}

dt, dd {
    font-weight: 400
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    overflow-wrap: break-word;
    word-break: keep-all;
    word-wrap: break-word;
}

::placeholder {
    font-size: inherit;
    color: #9b9b9b;
}



.text-hidden {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    width: 1px;
    height: 1px;
    font-size: 1px;
    color: transparent;
}

.text-word-break {
    overflow-wrap: break-word;
    word-break: keep-all;
    word-wrap: break-word;
}

.reverse {
    /*transform:rotate(0deg);*/
    /*-moz-transform: scaleX(-1);*/
    /*-o-transform: scaleX(-1);*/
    /*-webkit-transform: scaleX(-1);*/
    transform: scaleX(-1);
}

#__next {
    height: 100%;
    /*background-color: #0dcaf0;*/
}

.btn:not(.btn-sm) {
    font-size: 16px;
}

.form-check {
    min-height: auto;
    margin: 0;
}

.form-check.d-flex .form-check-input[type="checkbox"] {
    margin-right: 6px;
}

.form-check.d-flex .form-check-input {
    margin-top: -2px;
}

.form-check .form-check-input {
    margin-top: 0;
}
.
.is-invalid .invalid-feedback {
    display: block;
}

.button-date-picker {
    background-color: #fff !important;
    cursor: pointer;
}

.Toastify__toast-container[class*="-right"] {
    left: auto !important;
}
/* react-toastify: ie11 지원을 위해서 추가 */
.Toastify__toast {
    font-size: 14px;
    color: #262626;
    background-color: #fff;
}
.Toastify__toast-container {
    width: 320px;
}
.Toastify__toast-icon {
    height: 20px;
    margin: 0 10px 0 0;
}
.Toastify__toast--info .Toastify__toast-icon svg {
    fill: #3498db;
}
.Toastify__toast--success .Toastify__toast-icon svg {
    fill: #07bc0c;
}
.Toastify__toast--warning .Toastify__toast-icon svg {
    fill: #f1c40f;
}
.Toastify__toast--error .Toastify__toast-icon svg {
    fill: #e74c3c;
}

/* modal */
@media (min-width: 576px) {
    .file-delete .modal-dialog {
        max-width: 300px;
    }
}
.modal-open {
    overflow: hidden;
}
.modal {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000000001;
}

.modal-backdrop {
    z-index: 1000000000;
    background-color: transparent;
}

.modal-dialog {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
@media (max-width: 576px) {
    .modal-dialog {
        max-width: calc(100% - 30px);
    }
}


.modal:not(.popup-notice) .modal-dialog {
    display: inline-flex; /* modal css 만 사용하는 공지 팝업에서는 스크롤 생겼을때 높이값 문제가 있음*/
}

.modal-content {
    border-radius: 0.5rem;
    box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.3);
    border: solid 1px #ced4da;
    background-color: #ffffff;
}

.modal-header .modal-title {
    font-size: 18px;
}

.modal-body {
    padding: 2.5rem 1.875rem 1.875rem;
}

.modal-footer {
    padding: 0 1.875rem 2.1875rem;
    border: none;
}

.modal-footer .btn {
    min-width: 6.25rem;
    margin: 0;
}

.modal-footer .btn-cancel {
    border: 2px solid #ced4da;
    color: #959ba1;
    background-color: #fff;
}
.modal-footer .btn-cancel:hover {
    background-color: #ced4da;
}
.modal-footer .btn-delete {
    color: #fff;
    background-color: #f47458;
}
.modal-footer .btn-delete:hover {
    background-color: #bb5641;
}

.modal-footer .btn + .btn:not(.w-100) {
    margin-left: 0.625rem;
}

/* ie */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .form-check .form-check-input[type="radio"] {
        transform: translate(-2px, -4px);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    /*body {background-color: chartreuse}*/
}

.dPIiAo.next {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 201, 219);
}

.dPIiAo {
    height: 50px;
    padding: 0px 21px;
    border-radius: 25px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 201, 219);
}